{% extends "neubite/templates/base.html" %}

{% block extra_css %}
<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/base/jquery-ui.css">
<style>
li {
  list-style-type: none;
}
label {
  display: inline;
}
input {
  width: auto !important;
  display: inline !important;
}
</style>
{% endblock extra_css %}

{% block extra_js %}
<script type="text/template" id="ingInput">
  <li class="ing">
    <label>Ingredient:</label>
    <input class="ingredients" type="text" value="<%= ing %>"></input>
    <a class="button alert delete" href="#make">Delete</a>
  </li>
</script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.23/jquery-ui.min.js"></script>
<script src="/js/dump.js"></script>
<script src="/js/jquery.hotkeys.js"></script>
<script>
function ing_template() {
  return _.template($("#ingInput").html());
}

function add_all_ingredients() {
  $(".ing").remove();
  var templ = ing_template();
  var frag = document.createDocumentFragment();
  for (var i in availableIngredients) {
    ingredient = availableIngredients[i];
    var html = $(templ({"ing":ingredient}));
    frag.appendChild(html[0]);
  }
  $("#input").append(frag.childNodes);
  bind_autocomplete();
}

function add_ingredient_input() {
  var templ = ing_template();
  $("#input").append(templ({"ing":""}));
  bind_autocomplete();
};
  function what_should_be_made() {
    var input_arr = [];
    $('.ingredients').each(function(i, val){
      maybe = $(val).val()
         if (maybe != "") {
           input_arr.push(maybe);
         }
    });
    var should_make = [];
    $.each(ing_array, function(i, val){
      recipe_ingredients = val.slice(0, -1);
      recipe_value = Number(val.slice(-1)[0].split("Value: ").slice(-1)[0]);
      for (var j in input_arr) {
        my_ing = input_arr[j];
        my_ing_in_recipe = $.inArray(my_ing, recipe_ingredients);
        if (my_ing_in_recipe != -1) {
          recipe_ingredients = $.grep(recipe_ingredients, function(value, i){
            return value != recipe_ingredients[my_ing_in_recipe];
          });
        }
      }
      if (recipe_ingredients.length == 0) {
        should_make.push(val);
      }
    });
    $('#result_list .alert-box').remove();
    $.each(should_make, function(i, value) {
      $('#result_list').append("<div class='alert-box'>" + value.join(", ") + "</div>");
    });
    if (should_make.length == 0){
      $('#result_list').append("<div class='alert-box alert'>You don't have enough ingredients to make any worth-while potions, you should go gather more ingredients!</div>");
      $('#result_list').append("<div class='alert-box alert'>I recommend acquiring Giant's Toe, Wheat, River Betty, Large Antlers, Chaurus Eggs, Garlic, Luna Moth Wing, and Vampire Dust if you can swing it.</div>");
    }
  };
      function bind_autocomplete() {
        $(".ingredients").autocomplete({source: availableIngredients});
        $(".delete").click(function() {
          $(this).parent().remove();
        });
      };
	      $(function() {
            $("#input").append(_.template($("#ingInput").html(), {"ing":""}));
            $(document).bind('keydown', 'alt+i', add_ingredient_input);
            $("#add_ing").click(function(){
              add_ingredient_input();
            });
            $("#add_all_ing").click(function(){
              add_all_ingredients();
            });
            $("#what_do").click(function(){
              what_should_be_made();
            });
            bind_autocomplete();
          });
</script>
{% endblock extra_js %}

{% block title %}Potion Recommender!{% endblock title %}

{% block content %}
  <div class="row">
    <div class="twelve columns">
      <div class="panel">
        <h1>Potion Helper for Skyrim!</h1>
        <h2>Input your ingredients here to see the most valuable potions.</h2>
        <p>
        Protips: Use down arrow to utilize the auto-completion.
        Alt-i will add ingredient fields as well, but only
        when you're not in a textfield.
        </p>
        <a id="add_ing" class="button" href="#">+ Add Ingredient</a>
        <a id="add_all_ing" class="button success" href="#">Add all ingredients</a>
        <ul>
          <form id="input" style="margin: 10px 0 0 0;">
          </form>
        </ul>
        <br />
        <a name="make" id="what_do" class="button success" href="#make">Show Me what I should make!</a>
        <div class="input">
        </div>
      </div>
      <div class="row">
        <div class="twelve columns">

          <div class="results">
            <h3>You should make:</h3>
            <ul id="result_list">
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
