{% extends "neubite/templates/base.html" %}

{% block body %}
<div class="row">
  <div class="nine columns">
    <a href="/">
      <h1>bitemyapp</h1>
    </a>
      <p>
        This is a bitemyapp shindig, if you're here you probably
        care about code, product, or marketing. If you didn't get
        what you came for, <a href="mailto:cma@bitemyapp.com">
        contact me and I might be able to help you out.</a>
      </p>
  </div>
</div>
{% block content %}{% endblock content %}
{% endblock body %}