body {
	font-family: Helvetica, sans, sans-serif, Arial;
}
footer {
	text-align: center;
}
.expImg {
	width: 150px;
	height: auto;
	display: block;
	margin: auto auto 10px auto;
}
.expiryDiv select {
	display: inline-block;
	width: auto;
}
.explanationLeft, .explanationMid, .explanationRight {
	text-align: center;
	font-size: 20px;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	color: #464452;
}
.arrowDiv {
	padding: 0px;
	position: relative;
}
@media all and (max-width: 770px) {
    .arrowDiv {
        display: none;
    }
}
.arrowImg {
	width: 120px;
	height: 60px;
	left: 50%;
	margin-top: 50px;
	margin-left: -60px;
	position: absolute;
}
.expRow {
	margin-top: 40px !important;
	margin-bottom: 40px !important;
}
#body {
	height: 300px;
}
#topLeftLogo {
	width: 170px;
	height: 200px;
	float: left;
}
.logo {
	font-size: 120px;
	padding: 0px;
    text-align: center;
}
.blue {
	color: #00AAD4;
}
.orange {
	color: #FF7E29;
}
.bold {
	font-weight: bold;
}
.nav-bar {
	margin: 0px;
}
.no-padding {
    padding: 0;
}
.pricing-table .title {
	background-color: #FF7E29;
}
.pricing-table .price {
	background-color: #00AAD4;
}
#price {
	font-size: 40px;
	font-weight: 700;
	margin-bottom: 20px;
	line-height: 55px;
}
.foldHeader {
	text-align: center;
	font-size: 36px;
	font-weight: 700;
	margin-bottom: 50px;
}
.belowFold {
	margin-top: 50px;
}
.foldText {
	font-size: 24px;
	height: 160px;
}
.taskHighlight {
	position: relative;
}
.checkImg {
	display: none;
	position: absolute;
	width: 100px;
}
.checkImg.active {
	display: block;
}
.totalRow {
	margin-top: 12px !important;
	line-height: 40px;
}
.total {
	font-size: 16px;
	text-align: right;
}
.payment-errors, #errorSpan {
	color: red;
}
.foldHeaderRow {
	width: 100% !important;
	margin: auto !important;
}
#logotitle1 {
	color: #00AAD4;
}
#logotitle2 {
	color: #FF7E29;
}
ol li {
    font-size: 18px;
}
tr:hover:not(:first-child) {
    background: #F9F9C5 !important;
}
.gap {
    height: 25px;
}
 .priceRow {
 	text-align: center;
 }
 #priceRowBot {
 	margin-top: 20px !important;
 }
 .tierDesc {
 	margin-top: 20px !important;
 	margin-bottom: 20px !important;
 	text-align: center;
 }
 #billingSet {
 	background-color: #EFEFEF;
 }
.priceContent {
 	background-color: #EFEFEF;
 	border: solid 1px #DDD;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	padding-top: 10px;
	padding-bottom: 20px;
}
#priceRowTop {
 	margin-bottom: 10px !important;
}
#priceText {
 	font-size: 16px;
}

ins {
    background-color: #c6ffc6;
    text-decoration: none;
}

del {
    background-color: #ffc6c6;
}
.row, body, html {
    min-width: 768px !important;
}