body {
	font-family: Helvetica, sans, sans-serif, Arial;
}
footer {
	text-align: center;
}
#body {
	height: 300px;
}
.nav-bar {
	margin: 0px;
}
.no-padding {
    padding: 0;
}
.row, body, html {
    min-width: 768px !important;
}
.post {
    background: #F3F3F3;
    padding: 10px 10px 10px 10px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    margin-bottom: 10px;
}
.post a {
    color: orangered;
}
.post div.title {
    margin-bottom: 10px;
}
.post a:hover {
    color: #FF69B4;
}
.post .title {
    font-size: 48px;
    font-weight: bold;
    text-decoration: none;
    color: light-blue;
}
project {
  font-weight: bold;
  font-size: 24px;
  color: #006400;
}
project:after {
  content: " => ";
}
ul {
  list-style-type: none;
}
ul.projects li {
  margin-top: 15px;
}
pre {
    margin-bottom: 17px;
}
