body {
	font-family: Helvetica, sans, sans-serif, Arial;
}
footer {
	text-align: center;
}
#body {
	height: 300px;
}
.nav-bar {
	margin: 0px;
}
.no-padding {
    padding: 0;
}
.row, body, html {
    min-width: 768px !important;
}
