{% extends "neubite/templates/admin/base.html" %}

{% block content %}
<div class="row">
  <div class="twelve columns">
    <br><br>
    <a href="/admin/">Back to admin</a>
    <br><br>
    <div class="twelve columns">
      <table>
        <tr>
        {% for field in fields %}
          <th>
            {{field}}
          </th>
        {% endfor %}
        </tr>
        <tr>
        {% for val in values %}
          <td>
            {{val}}
          </td>
        {% endfor %}
        </tr>
      </table>
    </div>
  </div>
</div>
{% endblock content %}
