{% extends "neubite/templates/admin/base.html" %}

{% block content %}
<h1>ADMIN</h1>
<h3>Users</h3>
<table class="responsive">
  <tr>
    <th>Email</th>
    <th>Date Created</th>
    <th>Superuser?</th>
    <th>View User</th>
  </tr>
  {% for user in users %}
  <tr>
    <td>{{user.email}}</td>
    <td>{{user.date_created}}</td>
    <td>{{user.is_superuser}}</td>
    <td><a class="button" href="/admin/edit/users/{{user._id}}/">View User</a></td>
  </tr>
  {% endfor %}
</table>
<h3>Posts</h3>
<table class="responsive">
  <tr>
    <th>Date Created</th>
    <th>Title</th>
    <th>Slug</th>
    <th>View Post</th>
    <th>Delete</th>
  </tr>
  {% for post in posts %}
  <tr>
    <td>
      {{post.date_created}}
    </td>
    <td>
      {{post.title}}
    </td>
    <td>
      {{post.slug}}
    </td>
    <td>
      <a class="button" href="/admin/edit/posts/{{post._id}}/">View Post</a>
    </td>
    <td>
      <form method="POST" action="/admin/delete/posts/{{post._id}}/">
        <input type="hidden" name="id" value="{{post._id}}" />
        <input type="hidden" name="coll" value="posts" />
        <input type="submit" class="alert button" value="Delete"/>
      </form>
    </td>
  </tr>
  {% endfor %}
</table>
<br>
<a class="success button" href="/admin/write/">Write Post</a>

{% endblock content %}
