{% extends "neubite/templates/admin/base.html" %}

{% block content %}
<h1>ADMIN</h1>
<h3>Users</h3>
<table class="responsive">
  <tr>
    <th>Email</th>
    <th>Date Created</th>
    <th>Superuser?</th>
  </tr>
  {% for user in users %}
  <tr>
    <td>{{user.email}}</td>
    <td>{{user.date_created}}</td>
    <td>{{user.is_superuser}}</td>
  </tr>
  {% endfor %}
</table>

<h3>Posts</h3>
<table class="responsive">
  <tr>
    <th>Date Created</th>
    <th>Title</th>
    <th>Direct Link</th>
    <th>Publish</th>
    <th>Edit Post</th>
    <th>Delete</th>
  </tr>
  {% for post in posts %}
  <tr>
    <td>
      {{post.date_created}}
    </td>
    <td>
      {{post.title}}
    </td>
    <td>
      <a href="/post/{{post.slug}}/" target="_blank">{{post.slug}}</a>
    </td>
    <td>
      {% if post.published %}
      <form method="POST" action="/admin/publish/posts/{{post._id}}/">
        <input type="hidden" name="id" value="{{post._id}}" />
        <input type="hidden" name="action" value="hide" />
        <input type="submit" class="alert button" value="Hide"/>
      </form>
      {% endif %}
      {% if not post.published %}
      <form method="POST" action="/admin/publish/posts/{{post._id}}/">
        <input type="hidden" name="id" value="{{post._id}}" />
        <input type="hidden" name="action" value="publish" />
        <input type="submit" class="success button" value="Publish"/>
      </form>
      {% endif %}
    </td>
    <td>
      <a class="button" href="/admin/edit/post/{{post._id}}/">Edit Post</a>
    </td>
    <td>
      <form method="POST" action="/admin/delete/posts/{{post._id}}/">
        <input type="hidden" name="id" value="{{post._id}}" />
        <input type="hidden" name="coll" value="posts" />
        <input type="submit" class="alert button" value="Delete"/>
      </form>
    </td>
  </tr>
  {% endfor %}
</table>
<br>
<a class="success button" href="/admin/write/">Write Post</a>

<h3>Flatpages</h3>
<table class="responsive">
  <tr>
    <th>URL</th>
    <th>Date Created</th>
    <th>Direct Link</th>
    <th>Publish</th>
    <th>Edit Page</th>
    <th>Delete</th>
  </tr>
  {% for page in flatpages %}
  <tr>
    <td>
      {{page.url}}
    </td>
    <td>
      {{page.date_created}}
    </td>
    <td>
      <a href="/{{page.url}}/" target="_blank">{{page.url}}</a>
    </td>
    <td>
      {% if page.published %}
      <form method="POST" action="/admin/publish/flatpages/{{page._id}}/">
        <input type="hidden" name="id" value="{{page._id}}" />
        <input type="hidden" name="action" value="hide" />
        <input type="submit" class="alert button" value="Hide"/>
      </form>
      {% endif %}
      {% if not page.published %}
      <form method="POST" action="/admin/publish/flatpages/{{page._id}}/">
        <input type="hidden" name="id" value="{{page._id}}" />
        <input type="hidden" name="action" value="publish" />
        <input type="submit" class="success button" value="Publish"/>
      </form>
      {% endif %}
    </td>
    <td>
      <a class="button" href="/admin/edit/page/{{page._id}}/">Edit Page</a>
    </td>
    <td>
      <form method="POST" action="/admin/delete/flatpages/{{page._id}}/">
        <input type="hidden" name="id" value="{{page._id}}" />
        <input type="hidden" name="coll" value="flatpages" />
        <input type="submit" class="alert button" value="Delete"/>
      </form>
    </td>
  </tr>
  {% endfor %}
</table>
<br>
<a class="success button" href="/admin/write/flatpage/">Write Flatpage</a>

{% endblock content %}
