{% extends "neubite/templates/base.html" %}

{% block content %}
<div class="row">
  <div class="twelve columns">
    <h3>I'm a software business consultant and avid Clojure hacker</h3>
    <p>
      I love building, working on, and marketing software products. Occasionally
      I write a blog post on here or announce a project.
    </p>

    <h4>You might want to work with me if</h4>
    <ul>
      <li>You're building or maintaining an internal software stack, consumer product, or software-as-a-service product.</li>
      <li>You'd like to know how best to scale your infrastructure or development process.</li>
      <li>You want to introduce lean product development or iterative software development to your team.</li>
      <li>You just want something built or maintained by somebody who loves hacking.</li>
      <li>You need somebody with algorithms, product, commodity search, and API services experience.</li>
      <li>You're toiling away on your startup and really need an expensive friend.</li>
    </ul>

    <h4>Things I've been called</h4>
    <ul>
      <li>Consultant</li>
      <li>Software Engineer</li>
      <li>Staff Engineer</li>
      <li>CTO (Nutrition product startup)</li>
      <li>Guy with the bear avatar</li>
    </ul>

    <h4>Programming languages I like to use</h4>
    <ul>
      <li>Python</li>
      <li>JavaScript</li>
      <li>Clojure</li>
      <li>ClojureScript</li>
      <li>Piet</li>
    </ul>

    <h4>Technologies I've used in anger</h4>
    <ul>
      <li>HAProxy, Apache, Nginx</li>
      <li>MySQL, PostgreSQL, MS SQL Server</li>
      <li>Redis, MongoDB, CouchDB, Hadoop</li>
      <li>Lucene, ElasticSearch</li>
      <li>I've been known to use git as a content-store for hilarity's sake</li>
    </ul>

    <ul style="list-style-type: none;">
      <li><a href="/projects/">Projects I've worked on</a></li>
      <li><a href="https://github.com/bitemyapp/" target="_blank">My Github</a></li>
      <li>A snapshot of my github activity lately (I'm always hackin'): <img src="/img/github.png"/></li>
    </ul>
  </div>
</div>
{% endblock content %}
