{% extends "neubite/templates/base.html" %}

{% block content %}
<div class="row">
  <div class="twelve columns">
    <h3>I'm a software business consultant and avid Clojure hacker</h3>
    <p>
      I love building, working on, and marketing software products. Occasionally
      I write a blog post on here or announce a project.
    </p>
      <ul>
        <li><a href="/projects/">Projects I've worked on</a></li>
        <li><a href="https://github.com/bitemyapp/" target="_blank">My Github</a></li>
        <li>A snapshot of my github activity lately: <img src="/img/github.png"/></li>
      </ul>
  </div>
</div>
{% endblock content %}
